.App {
  font-family: sans-serif;

  color: #fff;
}

.App.App--disabled {
  position: relative;
}

.App.App--disabled::after {
  content: 'Loading rates';
  font-size: 100px;
  text-align: center;
  padding-top: 20px;

  opacity: 0.7;
  background: black;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.App__actions {
  display: flex;
  flex-direction: row-reverse;
  padding: 8px;
  font-size: 24px;
}

.App__exchange {
  align-self: flex-end;

  border: 0;
  color: inherit;
  background: transparent;
  font-size: inherit;
  cursor: pointer;
}

.App__exchange:disabled {
  opacity: 0.5;
  cursor: default;
}

.App__exchange:focus {
  outline: none;
  text-decoration: underline;
}

.App__spend {
  background: #3378fa;
}

.App__gain{
  background: #275ac4;
}

.App__spacer {
  height: 20px;
  text-align: center;
}

.App__spacer::after {
  display: inline-block;
  content: '';

  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #3378fa transparent transparent transparent;
}

@media (max-width: 600px) {
  .App__actions {
    font-size: 18px;
    padding: 4px;
  }
}
