.ExchangeInput__input {
  font-size: inherit;
  text-align: inherit;

  box-sizing: border-box;
  width: 100%;

  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  color: inherit;
}

.ExchangeInput__input:focus {
  outline: none;
}

