.ExchangeRow {
  padding: 20px 75px;

  display: flex;
  flex-direction: column;
}

.ExchangeRow__top {
  flex: 1;

  display: flex;
  font-size: 64px;
}

.ExchangeRow__currency {
  flex: 0;

  min-width: 30%;
  user-select: none;
}

.ExchangeRow__value {
  flex: 1;

  text-align: right;
  overflow: hidden;
}

.ExchangeRow__bottom {
  flex: 0;

  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);

  display: flex;
  justify-content: space-between;
}

.ExchangeRow__amount {
  flex: 1;

  user-select: none;
}

.ExchangeRow__info {
  flex: 1;

  user-select: none;
  text-align: right;
}

.ExchangeRow__accounts {
  flex: 0;
  margin: 20px 0 0 0;

  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.ExchangeRow__account {
  flex: 0 0 auto;

  background: #cccccc;
  opacity: 0.5;

  width: 16px;
  height: 16px;
  border: 0;
  border-radius: 50%;
  margin: 0 16px;

  cursor: pointer;
}

.ExchangeRow__account--selected {
  background: #fff;
  opacity: 1;
}

.ExchangeRow__account:focus,
.ExchangeRow__account:hover {
  outline: none;
  opacity: 1;
}

@media (max-width: 600px) {
  .ExchangeRow {
    padding: 10px 25px;
  }

  .ExchangeRow__top {
    font-size: 42px;
  }

  .ExchangeRow__bottom {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .ExchangeRow {
    padding: 10px 16px;
  }

  .ExchangeRow__bottom {
    font-size: 14px;
  }
}
